<!doctype html>
<html>
        <head>
                <meta charset="utf-8" />
                <link rel="stylesheet" href="css/style_login.css" />
                <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        </head>
        <body>                                                       
                <form id="form" method="post" action="/a">
                        <div class="form_espaco_titulo">                                
                                <label class="tituloForm">Realize seu login</label>
                        </div>
                        <div class="form_espaco_label">     
                                <label class="label">Nome</label>
                        </div>
                        <div class="form_espaco_input">
                                <input class="input" id="usuario" type="text"/>
                        </div>                                
                        <div class="form_espaco_label">
                                <label class="label">Senha</label>
                        </div>
                        <div class="form_espaco_input">
                                <input class="input" id="senha" type="password"/>
                        </div>
                        <div class="form_espaco_botao">
                                <button type="submit" class="botao">Logar</button>   
                        </div>   
                        <div class="form_espaco_ahref">
                                <a href="/cadastrousuario">Realizar seu cadastro</a>   
                        </div>       
                                         
                </form>                 
                
                <script>
                        const form = document.getElementById('form');

                        form.addEventListener('submit', async function(e){
                                e.preventDefault();

                                const formData = new FormData(form);

                                const usuario = document.getElementById('usuario').value;

                                const senha = document.getElementById('senha').value;    
                                
                                let popUp = true;

                                try {
                                        const res = await axios.post('http://localhost:5000/login',{
                                                "usuario": usuario,
                                                "senha": senha
                                        });
                                        console.log(res.data);
                                        if(res.data.usuario){
                                                window.location.href = "http://localhost:3000/home";
                                        } else {
                                                alert(res.data)
                                        }                                        
                                } catch (error){
                                        console.log(error.message);                                                                                                                     
                                }                             
                        })
                </script>
        </body>
</html> 